/* Notification.css */
/* Used for buying and selling notifications */

.message-container {
    position: fixed;
    right: 37px;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    animation: slideIn 0.5s ease-out;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.message-box {
    display: flex;
    width: 416px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    /* background: #FFB5B5; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.message-container.slide-out {
    animation: slideOut 0.5s ease-out forwards;
}

/* Slide in animation */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide out (or fade out) animation */
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}